* {
    box-sizing: border-box;
}

body {
    width: 100%;
    margin: 0 auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

nav {
    background: darkviolet;
    font-size: 0;
    div {
        margin: 4px;
        padding: 16px;
        font-size: 20px;
        min-width: 160px;
        border: 2px solid darkorange;
        border-radius: 45px;
        text-align: center;
        display: inline-block;
        background: darkviolet;
        color: darkorange;
    }
    div:hover {
        background: darkorange;
        color: darkviolet;
    }
}

input[type=date]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
}

.flash {
    color: white;
    font-size: 2em;
    mix-blend-mode: difference;
    text-align: center;
}

#error {
    background: red;
}

#success {
    background: green;
}

#notice {
    background: yellow;
}