<h1>Editing Boat</h1>

<p>
  <strong>Ship Captain:</strong> <%= @boat.profile.officer %>
</p>

<%= render 'form', boat: @boat, list: location_list.sort, current_user: current_user %>

<%= link_to 'Show', @boat %> |
<%= link_to 'Back', boats_path %>
